[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/friend"]
	path = themes/friend
	url = https://github.com/strawbreey/hugo-theme-hello-friend.git
